{% extends 'layouts/main.html' %}

{% block content %}
<h1>Find a study buddy.</h1>

<form action="{% url 'index' %}" method="get">
  <input type="text" name="q" id="search" placeholder="Search">
</form>

<a href="{% url 'create-room' %}">Create Room</a>

<hr>

<div class="container">
  <div class="aside">
    <p><a href="{% url 'index' %}">All</a></p>
    {% for topic in topics %}
    <p>
      <a href="{% url 'index' %}?q={{ topic.name }}">
        {{ topic.name }}</a>
    </p>
    {% endfor %}
  </div>
  <div class="main">
    <h3>
      {% if room_count < 2 %}
      {{ room_count }} room available
      {% else %}
      {{ room_count }} total rooms available.
      {% endif %}
    </h3>
    {% for room in rooms %}

    <div>
      <p>
        {{ room.name }} <a href="{% url 'room' room.id %}">view</a>
      </p>
      <p>By @
        {{ room.host }}
      </p>
    </div>

    {% endfor %}
  </div>
</div>


{% endblock %}